@page
@model RazorWeb.Pages.LogoutModel
@{
    Layout = null; // Không cần layout khi logout
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0; url=/Login" />
</head>
<body>
</body>
</html>
