@page "/fruits/delete/{Id:int}"
@inject NavigationManager Navigation
@inject Repository.IFruitRepository FruitRepository

<h2 class="text-center mb-4 text-danger fw-bold">Delete Fruit</h2>

<h5 class="text-center mb-3">Are you sure you want to delete this fruit ???</h5>

@if (Fruit != null)
{
    <div class="delete-box mb-3 p-4 rounded shadow-sm bg-light border border-danger">
        <p><strong>Name:</strong> @Fruit.Name</p>
        <p><strong>Price:</strong> @Fruit.Price.ToString("N0") VNĐ</p>
        <p><strong>Quantity:</strong> @Fruit.Quantity</p>
    </div>

    <div class="d-flex justify-content-end gap-2">
        <button class="btn btn-danger" @onclick="HandleDelete">Delete</button>
    </div>
}
else
{
    <p class="text-muted text-center">Fruit not found!</p>
}

@code {
    [Parameter] public int Id { get; set; }
    private BOs.Fruits? Fruit;

    protected override void OnInitialized()
    {
        Fruit = FruitRepository.GetById(Id);
    }

    private void HandleDelete()
    {
        if (Fruit != null)
        {
            FruitRepository.Delete(Fruit.Id);
            Navigation.NavigateTo("/fruits");
        }
    }
}
