@model dynamic
@{
    ViewData["Title"] = "Home";
}

<div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <h1 class="mb-3 fw-bold" style="color: #3F6C45;">Welcome to FU News !!!</h1>
    <h4 class="mb-4 text-muted" style="color: #050505;"><span>@ViewBag.UserFullName</span>!!!</h4>
</div>
